* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

body {
    background: black;
    overflow-y: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.logo {
    width: 170px;
}

.logo img {
    width: 60%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 30px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: darkblue;
}

section {
    display: flex;
    position: relative;
    min-height: 15vh;
    align-items: center;
}

.section_text {
    color: white;
    width: 50%;
    text-align: center;
}

.section_text h1 {
    font-size: 3rem;
    margin-top: 130px;
    text-shadow: 3px 0 red, -3px 0 red, 0 3px red, 0 -3px red, 2px 2px red, -2px -2px red, 2px -2px red, -2px 2px red;
}

.section_text p {
    font-size: 15px;
    margin: 30px 0;
    font-weight: 70;
    text-align: left;
}

.section_text div {
    text-align: left;
}

.section_text div button {
    font-size: 22px;
    color: white;
    border: none;
    background-color: transparent;
    margin-right: 30px;
    font-weight: 300;
    cursor: pointer;
}

.section_text div button i {
    font-size: 38px;
    margin-right: 10px;
}

.section_img {
    position: absolute;
    right: -50px;
    bottom: -40px;
}

.section_img img {
    width: 410px;
}